body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-color: lightgray;
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

.vega-tooltip {
  background-color: #222;      /* change background */
  color: #ffcc00;              /* change text color */
  border: 1px solid #ffcc00;   /* custom border */
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 8px;
}

.vega-tooltip .key {
  color: #0c4764;              /* field name color */
  font-weight: bold;
}

.vega-tooltip .value {
  color: #880a0a;              /* field value color */
}